<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOUR caitering</title>
    <link rel="stylesheet"  type="text/css" href="css/style.css" />

  </head>
  <body>
    <header>
      <h1>FOUR catering</h1> 
      
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a>Cart</a>
          </li>
          <li>
            <a>Contact us</a>
            </li>
        </ul>
        
      </nav>
    </header>


    

  </body>
  
</html>