<section class="cart">
    <h1>Cart</h1>
    
   <table class="item-cart">
  <tr>
    <th>Items</th>
    <th>Cost</th>
  </tr>
  <tr>
    <td>American package</td>
    <td>250$</td>
  </tr>
</table>
    

    <button id='buyButton' >Buy now</button>

</section>