<section class="cart">
    <h1>Items in cart</h1>
    
   <table class="item-cart">
    <h1 id="rest-name">{{rest.name}}</h1>
    <img src={{rest.imageFilename}}>
</table>

    <button id='buyButton' >Buy now</button>

</section>