  <section class="landingPage">
  
  <img src="images/LandingPagePic.png">
  <h2>FOUR catering</h2>
  <p>Slogan here</p>
  </section>
  
  <div>
  {{#each rests as |rest|}}
  {{> restaurant-details}}
  {{/each}}
  </div>

