

  <img id="homepagePic" src="images/LandingPagePic.png" />
  <div class="slogan">
    <h2>FOUR Catering</h2>
    <p>"From Our Kitchen to Your Table."</p>
  </div>


  <div class="rest-grid">
  {{#each rests as |rest|}}
  {{> restaurant-details}}
  {{/each}}
  </div>
  

  {{!-- <section class="overlay">  I wanted to try and create an overlay but its too complicated given our time constraints -JKD
    <img id="overlay-pic" src="images/Package-1.jpg">
    <div class="overlay-details">
    {{!-- <h2>The Italiano</h2>
    <p>Italian</p> --}}
    </div>
    </section>
  </section> --}}