

  <img id="homepagePic" src="images/LandingPagePic.png" />
  <div class="slogan">
    <h2>FOUR Catering</h2>
    <p>"From Our Kitchen to Your Table."</p>
  </div>


  <div class="rest-grid">
  {{#each rests as |rest|}}
  {{> restaurant-details}}
  {{/each}}
  </div>
  