<section class="loginMenu">
    
    
    <form class="login-form">
    <h2>User Login</h2>
    <label for='email'>Email</label>
    <input placeholder="email" type="text" id="email" name="email" required>
    <label for='password'>Password</label>
    <input placeholder="Password" type="text" id="password" name="password" required>

    <input type="submit" value="login">
    </form>
</section>

<script src="js/login.js"></script>