<section class="profile-card">
    <aside class="profile-aside">
        <ul>
            <li class="profileBtn" id="profile-dash">User Dashboard</li>
            <li class="profileBtn" id="profile-fav">Favourites</li>
            <li class="profileBtn" id="profile-rev">Reviews</li>
            <li class="profileBtn" id="profile-order">Previous orders</li>
        </ul>
    </aside>

    <section class="profile-main">

        <div class="profile-dash">
            <h1>User Dashboard</h1>
            <p>User : Joshua Kennedy-Dedam</p>
            <p>Date Account was created : 2023-09-17</p>
        </div>

        {{!-- <div class="profile-fav">
            <h1>Favourites</h1>
        </div>

        <div class="profile-rev">
            <h1>Reviews</h1>
        </div>

        <div class="profile-order">
            <h1>Previous Orders</h1>
        </div> --}}
        




    </section>


</section>]
<script src="js/profile.js"></script>