<section class="signup-menu">
    
    
    <form class="signup-form">
    <h2>User signup</h2>
    <label for='name'>Name</label>
    <input placeholder="name" type="text" id="name-signup" name="name" required>
    <label for='email'>Email</label>
    <input placeholder="email" type="text" id="email-signup" name="email" required>
    <label for='password'>Password</label>
    <input placeholder="Password" type="text" id="password-signup" name="password" required>

    <input type="submit" value="Sign Up">
    </form>
</section>

<script src="/js/signup.js"></script>