<div class="signup">
    <h2 class="titleaccount">Create new account</h2><hr>
    <form class="signup-form">
    <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email" />
  </div>
    <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password" />
  </div>
   <div>
    <button type="submit" class="submitnow">signup</button>
  </div>
    </form>
</div>
//javascript file
<script scr="./js/signup.js"></script>
