:root{
    font-family: Arial, Helvetica, sans-serif;
    --darkgrey: #333333;
    --metalic: #272727;
    --standard-font: arial, Helvetica, sans-serif;
    --white: #fcfcfc;
    --black: #000000;
    
    }
    
    * {
        padding: 0;
        margin: 0;
    }
    /* Basic */
    a {
        font: bolder;
        font-size: large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin: 30px;
        
    }

    h1 {
        margin: 60px;
    }

    li {
       
        margin: 30px;
    }

    body{
        /* background-color: var(--darkgrey); */
        /* font-family: var(--standard-font); */
        margin: 0;
        padding: 0;
        z-index: 0;
        background-color: grey;
    }
    
    header {
        background-color: lightblue;
        
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 150px;
        z-index: 2;
    }
    
    nav{
       border-color: solid black;
    }

    section{
        background-color: var(--white);
        width: 800px;
        height: 500px;
        border-radius: 5px;
        text-align: left;
        margin: 50px 10px 15px 10px;
    }
    
    main {
        display: flex;
        flex-direction: row;
    }

   
    
    button{
        position: absolute;
        text-align: center;
        line-height: 0,5;
        width: 40px;
        height: 15px;
        border-radius: 70px;
        margin: 30px;
        top: 90px;
        
    }

    

    article{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        background: linear-gradient( var(--black), var(--darkgrey) 100% );
        background-size:auto;
    }
    /* Classes */
    
    .user-menu {
        background-color: lightcyan;
        display: none;
        justify-content: center;
    }

    .user-menu h2 {
        margin: 25px 50px;
    }

    .hidden {
        display: flex;
    }
    
    .loginMenu {
        
        
        display: flex;
        justify-content: center;
        background-color: blue;
    }

    .body {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: red;
    }
    
    /* ID's */
    
    #title{
        text-align: left;
        color: var(--white);
        justify-content: flex-start;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bolder;
        font-style: italic;
        font-size: 50px;
        width: 30%;
        margin: 15px;
    }
    
    
    .headerimage{
        display: flex;
        align-items:flex-end;
        width: 100px;
        height: 150px;
        border-radius: 5%;
        background-repeat: no-repeat;
        float: right;
    
    }
    
    .nav-item{
        display: inline-block;
        margin: 5px;
        text-decoration: none;
    }
    
    .padding{
        padding: 5px;
    }

    .social-img:hover{
        width: 50px;
        height: 50px;
        transform: scale(1.1) rotate(-15deg);
    }
    
  
    
    button:hover{
        background: linear-gradient( var(--black), var(--darkgrey) 100% );
        transform: scale(1.1);
    }
    
    .button-small{
        width: 90px;
        height: 40px;
        border-radius: 70px;
        margin: 20px;
    }
    
   
    
    .articleimage{
        display: block;
        align-items: end;
        width: 50%;
        height: 50%;
    
    }
    
    .linkClass{
        margin: 20px;
    }
    
    .contactcontainer{
        display: block;
        align-items: center;
    }
    
    .main-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
    }
    
    
    
    
    @media screen and (max-width: 980px){
    
    }
    
    @media screen and (max-width: 768px){
    
    }
    
    @media screen and (max-width: 688px){
    
    }