:root{
    --font-family: font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --darkgrey: #333333;
    --metalic: #272727;
    --standard-font: arial, Helvetica, sans-serif;
    --white: #fcfcfc;
    --black: rgb(15, 15, 15);
    
    }
    
    * {
        padding: 0px;
        margin: 0px;
    }
    /* Basic */
    a {
        font: bolder;
        font-size: large;
        color: white;
        font-family: var(--font-family);
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin: 30px;
        
    }

    h1 {
        margin: 60px;
    }

    li {
       
        margin: 30px;
    }

    
    body{
        /* background-color: var(--darkgrey); */
        /* font-family: var(--standard-font); */
        margin: 0;
        padding: 0;
        z-index: 0;
       background-color: var(--black);
    }
    
    header {
        background-color: var(--black);
        margin:0;
        padding:0;
        color:white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        z-index: 2;
    }
    
    nav{
       border-color: solid black;
    }

    section{
        background-color: var(--white);
        width: 800px;
        height: 500px;
        border-radius: 5px;
        text-align: left;
        margin: 50px 10px 15px 10px;
    }
    
    main {
        display: flex;
        flex-direction: row;
    }

   
    table {
        width:100%;
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 10px;
    }
    th, td {
        border: 1px solid black; 
        padding: 10px; 
        text-align: center; 
      }
    

    

   
    /* Classes */
    
   
    .user-menu {
        background-color: lightcyan;
        display: none;
        justify-content: center;
    }

    .user-menu h2 {
        margin: 25px 50px;
    }

  
    

    .body {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        height: fit-content;
        background-color: var(--black);
        align-items: center;
        
    }

    .loginMenu {
        border: solid black;
        width: 300px;
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
        box-shadow: 10px 10px 0px 0px;
    }

    .login-form {
        
        margin: 45px;
        
        display: flex;
        flex-direction: column;
        
        align-content: center;
    }
    .login-form * {
        margin:15px;
    }

    .signup-menu{
        border: solid black;
        width: 300px;
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
        box-shadow: 10px 10px 0px 0px;
    }

    .signup-form {
        margin: 45px;
        
        display: flex;
        flex-direction: column;
        
        align-content: center;
    }

    .signup-form * {
        margin:15px;
    }


    .slogan {
        position: absolute;
        top: 300px;
        display: flex;
        flex-direction: column;
        margin: 15px;
        justify-content: center;
        align-items: center;
        
        
    }

    .slogan h2 {
        font-size:100px;
        color:white;
        font-family: var(--font-family);
        text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000, 
    -1px  1px 0 #000, 
     1px  1px 0 #000;
    }

    .slogan p {
        font-size:75px;
        color: white;
        text-shadow:
    -1px -1px 0 #000, /* Top-left shadow (offset by -1px in both x and y directions) */
     1px -1px 0 #000, /* Top-right shadow (offset by 1px in x and -1px in y direction) */
    -1px  1px 0 #000, /* Bottom-left shadow (offset by -1px in x and 1px in y direction) */
     1px  1px 0 #000;
    }


    .rest-card {
        background-color: grey;
        /* border-color: solid black; */
        width: 600px;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }

    .rest-card * {
        margin: 15px;
        display: flex;
        justify-content: center;
    }

    .rest-card:hover {
        box-shadow: 0 0 5px 5px white;
        cursor: pointer;
    }

    .rest-grid {
        
        display: grid;
        
        grid-template-columns: repeat(3, 1fr);
        
        grid-gap: 5px;
        margin-bottom: 20px;
    }

    .package-details {
        display: flex;
        flex-direction: column;
    }

    .package-reviews {
        background-color: var(--black);
        border:solid white;
        display: flex;
        align-items: center;
        border-radius: 15px;
        width:99%;
    }

    .package-reviews p {
        font-weight: bolder;
        margin-left:0px;
        font-size: 18px;
        
    }

    .package-reviews * {
        margin: 15px;
    }

    .reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        background-color: var(--black);
    }

    .review-sub {
        width: 95%;
        background-color: var(--black);
    }
   

    .reviews * {
        margin-top: 10px;
    }
    
    .review-form {
        
    }

    .review-form-menu {
        position: fixed;
        border: solid black;
        width: 800px;
        display: none;
        justify-content: center;
        background-color: whitesmoke;
        flex-direction: column;
    }

    .review-form-menu textarea {
        width: 700px;
        height: 250px;
    }

    .review-form {
        
        margin: 45px;
        
        display: flex;
        flex-direction: column;
        
        align-content: center;
    }

    .review-form * {
        margin:15px;
    }


    .landingPage {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction:row;
        background-color: blue;
        justify-content: space-evenly;
    }

    .overlay {
        width:1000px;
        height:750px;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        top:0;
        
    }

    .profile-card{
        display: flex;
        justify-content: space-evenly;
        background-color: beige;
        border:solid black;
        width: 1250px;
        height: 750px;
        border-radius: 25px;
        align-items: center;
    }

    .profile-aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .profile-aside ul {
        font-size: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-main {
        margin: 0;
        height: 700px;
        display: flex;
        justify-content: center;
        background-color: lightgrey;
        border:solid black;
    }

    .profile-main h1 {
        margin: 10px;
        font-size:50px;
    }

    .profile-dash{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile-dash p {
        font-size: 25px;
    }
    
    .profile-dash * {
        margin: 15px;
    }
    .profileBtn:hover {
        cursor: pointer;
    }

    .profile-rev {
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .profile-rev h1 {
        color:black;
    }

    .profile-rev * {
        margin: 15px;
    }

    .cart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cart h1 {
        font-size: 50px;
    }

    .package {
        background-color: grey;
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 25px;
        border:solid black;
        
    }

    .package img {
        width: 450px;
        border-radius: 35px;
        border:solid black;
    }

    .package button {
        border-radius: 20px;
        width: 100px;
    }

    .package * {
        margin: 15px;
    }

    .package p {
        font-size: 20px;
    }

    .package-reviews-profile {
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--black);
        border-radius: 15px;
    }

    .package-reviews-profile:hover {
        cursor: pointer;
    }
    

    
    
    
    
    
    /* ID's */
    
    /* #title{
        text-align: left;
        color: var(--white);
        justify-content: flex-start;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bolder;
        font-style: italic;
        font-size: 50px;
        width: 30%;
        margin: 15px;
    } */
    #click-delete{
        color:black;
        margin: 0;
    }
    #package-header{
        font-size: 25px;
        color: white;
    }
    #leave-review:hover {
        cursor: pointer;
    }
    #leave-review {
        text-decoration: underline;
    }

    #package-p{
        display: flex;
        flex-wrap: wrap;
    }

    #rev-h2 {
        margin: 35px;
    }
    #homepagePic {
        /* margin: 10px;
        margin-left: 200px ; */
        margin: 20px;
        width: 75% ;
        border:solid black;
        filter: blur(3px);
        position: relative;
        margin-top:0px;
    }

    #package-pic{
    width: 250px;
    border-radius: 25px;
    box-shadow: 0 0 12px 12px;
    }

    #overlay-pic {
    width: 250px;
    border-radius: 25px;
    border: solid black;
    }

    #details{
        color: white;
        margin-top:50px;
        margin-bottom: 0;
    }
  

    
    
    
    
    
    
    @media screen and (max-width: 980px){
    
    }
    
    @media screen and (max-width: 768px){
    
    }
    
    @media screen and (max-width: 688px){
    
    }