<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOUR caitering</title>
    <link rel="stylesheet" href="/css/css.css">

</head>
<body>
    <header>
        FOUR CATERING
    </header>
        <div class = "flex-column">
            <nav>
                Navigation goes here
                <button>
                    Cart
                </button>
            </nav>
            <div class="flexbox-row">
                <div class="This is the main body along with the bottom menu items">
                    <div>
                    main body goes here push to right
                    </div>
                    <div>
                        buttons goes here. Add, remove, amount to add to Cart etc.
                    </div>
                </div>

                <aside>
                    User Menu goes here, push to left
                </aside>
                </div>
        
    </div>







</body>
<footer>Item</footer>
</html>