<div class="flexbox-column">
    <div>
        username
    </div>

    <div>
        password
    </div>

    <div>
        Favorites
    </div>

    <div>
        Reviews
    </div>

    <div>
        User info
    </div>

    <div>
        log out function
    </div>
</div>